{% extends "base.html" %}

{% block content %}
<br/>
<h1 style="text-align: center">About Koerner Distributor, Inc</h1>
<hr/>
<p class="">Family owned and operated since 1982, Koerner Distributor, Inc. has grown 
    to become one of the largest beverage distributors of beer, wine, liquor and non-alcoholic 
    beverages, in the great state of Illinois.  The headquarters are located in Effingham, IL with 
    satellite offices in Carterville, New Baden, and Champaign, IL.  Within these four locations 
    Koerner has a handle on 60 counties of 102 that Illinois houses.
</p>
<p class="">The key factors that have been proven in the successful growth of Koerner Distributor, Inc. 
    have been the dedicated relationships we have formed in conjunction with our suppliers, the 
    products they provide, and the community that we distribute to.  Because of the passion and 
    confidence that we have in the products that we contract with our supplier partners on, we have 
    become a direct stake in the success of the brands that we represent.  Community involvement is 
    not just another success, but at Koerner Distributor, Inc., a way of life.  We are all members and 
    contributors of the communities we serve.  We want to know you as much as you need to know us.  
    Our sales team is here to give detailed support in each marketplace under our belt.
</p>
<p class="">In house we utilize modern technology inventory systems to ensure product availability 
    and to maintain our competitive advantage in the markets we serve.  The focus of our company is
     to source our customers with quality products that work to build a long-term success for all.  
     We firmly believe that the foundational goals we have set will guide the efforts of our sales 
     and management teams to preserve and sustain a future of beverage distribution above and beyond
      any other in our area.
</p>
<hr/>
<h1 style="text-align: center">Mission & Goals</h1>
<hr/>
<ul>
    <li><p class="">To improve the economic well-being and quality of life for all internal 
        and external associates. In so doing, set the standard for value, added sales and 
        delivery services from which others might be judged.</p>
    </li>
    <li><p class="">To attain maximum distribution and sell through of our brands by functioning 
        as a total marketing company with a strong emphasis on improving the number of facings in 
        retail accounts and positioning our brands at eye-level locations on the shelves.</p>
    </li>
    <li><p class="">To have ongoing full-scale marketing programs to enhance retail movement of brands,
         including hosting wine tastings, winemaker dinners, samplings and on-premise.</p>
    </li>
    <li><p class="">To carry adequate inventories of all brands at all times to meet the needs 
        of our customers and our supplier partners.</p>
    </li>
</ul>
<!-- Image -->
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <img class="img-circle img-responsive" style="border-radius: 50%; max-height:350px;" align="middle" src="https://nebula.wsimg.com/b4f2fc17487c8f703dd6335183d9b98d?AccessKeyId=C9616908631D8962D804&disposition=0&alloworigin=1"/>
    </div>
    <div class="col-4"></div>
</div>




{% endblock %}