<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css"/>
        <title>Koerner Distributor</title>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="index">Koerner Distributor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> <!--change later-->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="#">Buyer sign-in</a>
        </li>
    </ul>
  </div>
</nav>



    {% block content %}
    {% endblock %}


</body>
</html>