{% extends 'base.html' %}
{% block content %}
<div class='jumbotron text-center'>
    <div class="bg"></div>
    <hr/>
    <h1 style="font-family:cursive; color:whitesmoke">Koerner Distribution</h1>
    <h2  style="font-family:cursive; color:whitesmoke">FINE WINES | SPIRITS | MALT-BEVERAGES</h2>
    <hr/>
</div>

<br/>
<div class="row">
    <div class="col-6">
        <div class="card">
            <h3 class="card-header">Fine Wines</h3>
            <div class="card-body">
                <h5 class="card-title">Koerner distributes Fine Wine from all over the globe.  Catering to every palette and price point.</h5>
                <img style="height: 100%; width: 90%; display: block;" src="https://image.shutterstock.com/z/stock-photo-bottles-of-wine-shot-with-limited-depth-of-field-606706808.jpg" alt="wine bottles"/>                    
                </br>
                <div style="text-align:center">
                    <a href="#" class="card-link">Local</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Domestic</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">International</a>
                </div>
            </div> 
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <h3 class="card-header">Spirits</h3>
            <div class="card-body">
                <h5 class="card-title">Koerner distributes Spirits in all categories as well as quality at every level.</h5>
                <img style="height: 100%; width: 90%; display: block;" src="https://image.shutterstock.com/z/stock-photo-phuket-june-liqour-bottles-on-bar-for-drink-pub-680655421.jpg" alt="liqour bottles"/>
                <br/>
                <div style="text-align:center">
                    <a href="#" class="card-link">Whiskey</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Gin</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Liqueur</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Rum</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Scotch</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Tequila</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Vodka</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-6">
        <div class="card">
            <h3 class="card-header">Malt Beverages</h3>
            <div class="card-body">
                <h5 class="card-title">Koerner Distributes Beer from all over the globe including domestic, craft, and import brands.</h5>
                <img style="height: 100%; width: 90%; display: block;" src="https://image.shutterstock.com/z/stock-photo-beer-glasses-on-dark-table-367622333.jpg" alt="beer bottles"/>                    
                </br>
                <div style="text-align:center">
                    <a href="#" class="card-link">Domestic</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Craft</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Import</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Hard Cider</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Flavoured Malt Beverages</a>
                </div>
            </div> 
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <h3 class="card-header">Non-alcoholic</h3>
            <div class="card-body">
                <h5 class="card-title">Koerner distributes an array of Non- Alcoholic beverages and mixers that caters to all customers needs.</h5>
                <img style="height: 100%; width: 90%; display: block;" src="https://image.shutterstock.com/z/stock-photo-variety-of-cold-drinks-in-small-bottles-425146195.jpg" alt="bottles"/>                    
                </br>
                <div style="text-align:center">
                    <a href="#" class="card-link">n/a Wine</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">n/a Beer</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">n/a Other</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Mixers</a><span class="card-text"> | </span>
                    <a href="#" class="card-link">Water</a>
                </div>
            </div> 
        </div>
    </div>




</div>

    


{% endblock %}