{% extends 'base.html' %}

{% block content %}

<div class="container">
<h1>Login</h1>
<div class="form-group">
    <form method="POST">
    <label>Email</label>
    <input type="email" class="form-control" name="email" placeholder="buyer@example.com"/>

    <label>Password</label>
    <input type="password" class="form-control" name="password"/>
    <br/>
    <input type="submit" class="btn btn-neg" value="log in"/>
    </form>
</div>

<p>If you don't have an account, you can <a href='/signup'>sign up</a> for one</p>
</div>



{% endblock %}