{% extends "base.html" %}

{% block content %}
<br/>
<div class="jumbotron text-center">
    <hr/>
    <h2 style="font-family:cursive; color:whitesmoke">Contact Koerner Distributor, Inc.</h2>
    <hr/>
    <h5  style="font-family:cursive; color:whitesmoke">Want to learn more about Koerner Distributor, Inc and what we can do for you? Have a question or comment? We are waiting to hear from you! Send us a message below.</h5>
</div>
<br/>
<div class="row">
    <div class="col-3">
        <div class="card border-danger">
            <div class="card-body" style="text-align: center">
                 <blockquote class="card-blockquote"> 
                <p><strong>Effingham Head Office</strong><br/>
                    1305 West Wabash Avenue
                    P.O. Box 67
                    Effingham, IL 62401
                    Phone: 1-800-475-5162
                    Fax: 217-347-8736​
                </p>
                 </blockquote> 
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card border-danger">
            <div class="card-body" style="text-align: center">
                 <blockquote class="card-blockquote"> 
                <p><strong>Carterville Division</strong><br/>
                    10074 Samuel Road,<br/>
                    Carterville , IL 62918<br/>
                    Phone: 1-800-333-2579<br/>
                    Fax: 618-985-3768
                </p>
                 </blockquote> 
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card border-danger">
            <div class="card-body" style="text-align: center">
                 <blockquote class="card-blockquote"> 
                <p><strong>New Baden Division</strong><br/>
                    305 East Illinois Street,<br/>
                    New Baden, IL 62265<br/>
                    Phone: 1-800-642-3851<br/>
                    Fax: 618-588-7256​
                </p>
                 </blockquote> 
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card border-danger">
            <div class="card-body" style="text-align: center">
                 <blockquote class="card-blockquote"> 
                <p><strong>Orange & Blue Distributing Company</strong><br/>
                    2902 Lager Drive,<br/>
                    Champaign, IL 61822<br/>
                    Phone: 217-352-4794​<br/>
                    Fax: 217-352-9579
                </p>
                 </blockquote> 
            </div>
        </div>
    </div>
</div>

<br/>
<hr/>
<br/>

<div class="form-group">
    <h3>Message us</h3>
    <br/>
    <form>
    <label>Name</label>
    <input type="text" class="form-control" name="name" placeholder="John Smith"/>
    
    <br/>
    <label>Email</label>
    <input type="email" class="form-control" name="email" placeholder="john@smith.com"/>

    <br/>
    <label>Subject</label>
    <input type="text" class="form-control" name="subject" placeholder="Why john..?"/>

    <br/>
    <label>Message</label>
    <textarea type="text" class="form-control" placeholder="...smith?"></textarea>

    <br/>
    <button type="submit" class="btn btn-block">Contact us</button>
    </form>
</div>



{% endblock %}