{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h1>Sign up</h1>
    <div class="form-group">
        <form method="POST">
            <label for='email'>Email</label>
            <input type="email" class="form-control" name="email" placeholder="buyer@example.com"/>
            <small class="form-text text-muted">We'll never share your email with anyone</small>
            <span class='badge badge-info'>{{duplicate_user_error}}</span>                       
            <br/>

            <label for='password'>Password</label>
            <input type="password" class="form-control" name="password"/>
            <span class='badge badge-primary'>{{password_error}}</span>
            <br/>

            <label for='verify'>Verify</label>
            <input type="password" class="form-control" name="verify"/>
            <span class='badge badge-primary'>{{verify_error}}</span>
            <br/>

            <input type="submit" class="btn btn-reg" value="Sign up"/>
        </form>
    </div>
</div>


{% endblock %}